ul {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.7) 0 1px 8px;
	display: inline-block;
	padding: 71.5% 0 0 0;
	position: relative;
	width: 100%;
}
	
	ul:before {
		background-color: #1f1f1f;
		content: " ";
		display: block;
		height: 62px;
		left: -10px;
		position: absolute;
		top: -26px;
		-webkit-transform: rotate(45deg);
		width: 26px;
		z-index: 2;
	}
	
	ul:after {
		background-color: #1f1f1f;
		content: " ";
		display: block;
		height: 62px;
		right: -10px;
		position: absolute;
		bottom: -26px;
		-webkit-transform: rotate(45deg);
		width: 26px;
		z-index: 2;
	}
	
	
	ul img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

li {
	left: 1.5%;
	list-style: none inside;
	overflow: hidden;
	position: absolute;
	top: 1.7%;
	width: 97%;
}

/* - Fade In/Out -*/

ul:first-of-type li {
	-webkit-animation-duration: 12s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-duration: 12s;
	-moz-animation-iteration-count: infinite;
	opacity: 0;
}

ul:first-of-type li:first-child {
	-webkit-animation-name: fadeOne;
	-moz-animation-name: fadeOne;
	opacity: 1;
}

ul:first-of-type li:nth-of-type(2) {
	-webkit-animation-name: fadeTwo;
	-moz-animation-name: fadeTwo;
}

ul:first-of-type li:nth-of-type(3) {
	-webkit-animation-name: fadeThree;
	-moz-animation-name: fadeThree;
}

@-webkit-keyframes fadeOne {
	0%, 30% { opacity: 1; }
	33%, 94% { opacity: 0; }
	97%, 100% { opacity: 1; }
}

@-webkit-keyframes fadeTwo {
	0%, 30% { opacity: 0; }
	33%, 63% { opacity: 1; }
	66%, 100% { opacity: 0; }
}

@-webkit-keyframes fadeThree {
	0%, 63% { opacity: 0; }
	66%, 94% { opacity: 1; }
	97%, 100% { opacity: 0; }
}

@-moz-keyframes fadeOne {
	0%, 30% { opacity: 1; }
	33%, 94% { opacity: 0; }
	97%, 100% { opacity: 1; }
}

@-moz-keyframes fadeTwo {
	0%, 30% { opacity: 0; }
	33%, 63% { opacity: 1; }
	66%, 100% { opacity: 0; }
}

@-moz-keyframes fadeThree {
	0%, 63% { opacity: 0; }
	66%, 94% { opacity: 1; }
	97%, 100% { opacity: 0; }
}

/* - Slide In/Out -*/

ul:nth-of-type(2) img {
	-webkit-animation-duration: 14s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	-moz-animation-duration: 14s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease;
}

ul:nth-of-type(2) li:nth-of-type(1) img {
	-webkit-animation-name: slideOne;
	-moz-animation-name: slideOne;
	left: 0;
	position: relative;
}

ul:nth-of-type(2) li:nth-of-type(2) img {
	-webkit-animation-name: slideTwo;
	-moz-animation-name: slideTwo;
	left: 100%;
	position: relative;
}

ul:nth-of-type(2) li:nth-of-type(3) img {
	-webkit-animation-name: slideThree;
	-moz-animation-name: slideThree;
	left: 200%;
	position: relative;
}

@-webkit-keyframes slideOne {
	0%, 30% { left: 0; }
	33%, 94% { left: -100%; }
	94.0001%, 97% { left: 100%; }
	97%, 100% { left: 0; }
}

@-webkit-keyframes slideTwo {
	0%, 30% { left: 100%; }
	33%, 63% { left: 0; }
	66%, 100% { left: -100%; }
}

@-webkit-keyframes slideThree {
	0%, 63% { left: 100%; }
	66%, 94% { left: 0; }
	97%, 100% { left: -100%; }
}

@-moz-keyframes slideOne {
	0%, 30% { left: 0; }
	33%, 94% { left: -100%; }
	94.0001%, 97% { left: 100%; }
	97%, 100% { left: 0; }
}

@-moz-keyframes slideTwo {
	0%, 30% { left: 100%; }
	33%, 63% { left: 0; }
	66%, 100% { left: -100%; }
}

@-moz-keyframes slideThree {
	0%, 63% { left: 100%; }
	66%, 94% { left: 0; }
	97%, 100% { left: -100%; }
}

/* - General page styles -*/

body {
	background-color: #1f1f1f;
	color: #f1f1f1;
	font-family: 'helvetica neue', helvetica, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body > div {
	margin: 0 auto;
	max-width: 860px;
	width: 80%;
}

h1 {
	border-bottom: 6px solid #34311c;
	font-size: 2em;
	margin: 0;
	padding: 0.4em 0 0.3em 0;
	text-shadow: rgba(255, 255, 255, 0.09) 0 1px 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1em;
	margin: 1em 0 0 0;
	padding: 0;
}

p {
	border-top: 4px solid #34311c;
	box-shadow: #000 0 -1px 0;
	margin-top: 1em;
	padding: 1em 0;
}

a {
	color: #303359;
	display: inline-block;
	font-size: 0.8em;
	text-decoration: none;
}

	a:hover {
		background-color: #303359;
		color: #faf9f1;
	}